<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js -->
</head>
<body>
    <header>
        <h1>Smart Energy Saver</h1>
        <nav>
            <ul>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'energy_visualization' %}">Visualization</a>
            <a href="{% url 'energy_tips' %}">Energy Tips</a>
            <a href="{% url 'carbon_calculator' %}">Carbon Calculator</a>
            <a href="{% url 'community' %}">Community</a>
            <a href="{% url 'logout' %}">Logout</a>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Smart Energy Saver. All rights reserved.</p>
    </footer>
</body>
</html>
